body {
    background-image: url('../img/money-watch-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.table-wrap {
    margin-top: 80px;
}

#billsTable {
    background-color: rgb(199, 194, 194);
    border: 1px solid black;
    font-size: 1.5rem;
}

.label {
    color: rgb(11, 87, 21);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(199, 194, 194);
    padding: 5px;
}